html{
    margin: 0;
    padding: 0;
}

.body{
  margin: 0;
  background-repeat: no-repeat;
  background-size: 400%;
  background-image: url('aboutme-attachments/sonja-punz-background\ \(blue-edition\).png');
    
}


/* Header */

.header{ 
  margin: 0px center;
  position: relative;
  padding: 0px 0px;
  padding-bottom: 10px;
  height: 50px;
  z-index: 10;
}


nav{
padding-top: 13px;
margin: 0px ;
text-align: center;
justify-content: space-between;
flex-wrap: wrap;
}

.nav-ul{
display: flex;
align-items: center;
justify-content: center;
padding: 0;
list-style-type: none;
}

.nav-li{
  display: inline-block;
}

.nav-a{
  color: white;
  font-size: 31px;
  font-weight: 400;
  text-decoration: none;
  font-family: 'DM Sans', sans-serif;
  padding: 10px 10px;
  padding-bottom: 9px;
  margin: 0px 0px;
  text-align: center;
  opacity: 0.7;

}

.nav-a:hover{
  opacity: 1;
    color: rgb(255, 255, 255);
    transition-duration: 0.5s;
    /* text-decoration-line: overline; */
    box-shadow: black 13px 26px 12px;
}

.hamburger{
background-color: transparent;
border: 0;
color:white;
cursor: pointer;
font-size: 20px;
display: none;
}

.hamburger:focus{
outline: none;
}


/* Main Section */

.main{
margin-top: 103px;
margin-left: 47%;
/* height: 1000px; */
border-radius: 100px 0px 0px 0px;
background-color: white;
visibility: visible;
}

.profile{
padding-top: 160px;
text-align: center;
}

.profile-img{
width: 400px;
height: 400px;
object-fit: none;
object-position: 50% 55%;

border-radius: 305px;
box-shadow:  13px 27px 26px rgba(0, 0, 0, 0.16);
}

.profile-h2{
margin: 0px 75px;
margin-top: 100px;
font-family: 'DM Sans', sans-serif;
font-weight: 500;
font-size: 50px;
background-image:linear-gradient(90deg,#5A775E,#8B8F8B,#5A775E,#948365);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; 
}

.separation-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.separation-line-1{
margin-top: 100px;
margin-bottom: 140px;
width: 223px;
height: 1px;

background-color: #818181;
opacity: 0.5;
}

.services{

}

.servicebox{
text-align: center;
margin-bottom: 237px;
}

.servicebox-img{
height: 262px;
width: 262px;

}

.servicebox-p1{
margin-top: 30px;
font-family: 'DM Sans', sans-serif;
font-weight: 500;
font-size: 35px;
color: #FE6187;
}

.servicebox-p2{
padding: 0 180px;
margin-top: -18px;
font-family: 'DM Sans', sans-serif;
font-weight: 500;
font-size: 26px;
color: #8B8F8B;
}

.separation-line-2{
  margin-top: -64px;
  margin-bottom: 70px;
  width: 223px;
  height: 1px;
  
  background-color: #818181;
  opacity: 0.5;
}

.tech-stack{
padding-bottom: 500px;
text-align: center;
}

.tech-stack-p{
margin-bottom: 43px;
font-family: 'DM Sans', sans-serif;
font-weight: 500;
font-size: 35px;
color: #AAAEB5;
}

.stack-holder{
  width: 65%;
  margin: 0px auto;
  /* add flexboxstyle */

  display: flex;
  flex-direction: row;
  justify-content:left;
  flex-wrap: wrap;
  flex-basis: 0 0 0 25%;
}

.stackbox{
  width: 150px;
  height: 70px;
  text-align: center;
  margin: 5px;
  border-radius: 50px;

}



.stack-p{
  margin: 15px 0px;
  padding: 0px 0px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: white;
}


/* Responsive Settings */

/* Main-Container Settings */
@media screen and (max-width: 1535px) {
  .main{
    margin-top: 103px;
    margin-left: 40%;
    /* height: 1000px; */
    border-radius: 100px 0px 0px 0px;
    background-color: white;
    }
    
    .profile{
      padding-top: 120px;
    }

    .profile-img{
    width: 350px;
    height: 350px;
    }
    
    .profile-h2{
    font-size: 50px;
    }
    

    .separation-line-1{
    margin-top: 100px;
    margin-bottom: 140px;
    }
    
    .servicebox{
    margin-bottom: 200px;
    }
    
    .servicebox-img{
    height: 230px;
    width: 230px;
    }
    
    .servicebox-p1{
    margin-top: 30px;
    }
    
    .servicebox-p2{
    padding: 0 150px;
    margin-top: -18px;
    }
    
    .separation-line-2{
      margin-top: -64px;
      margin-bottom: 70px;
    }
    
    .tech-stack{
    padding-bottom: 350px;
    }
    
    .tech-stack-p{
    margin-bottom: 43px;
    }
    
    .stack-holder{
      width: 60%;
      margin: 0px auto;
      padding-left: 20px;
    }
}

@media screen and (max-width: 1340px) {
  .main{
    margin-top: 103px;
    margin-left: 35%;
    /* height: 1000px; */
    border-radius: 100px 0px 0px 0px;
    background-color: white;
    }
    
    .profile{
      padding-top: 120px;
    }

    .profile-img{
    width: 350px;
    height: 350px;
    }
    
    .profile-h2{
    font-size: 50px;
    }
    

    .separation-line-1{
    margin-top: 100px;
    margin-bottom: 140px;
    }
    
    .servicebox{
    margin-bottom: 200px;
    }
    
    .servicebox-img{
    height: 230px;
    width: 230px;
    }
    
    .servicebox-p1{
    margin-top: 30px;
    }
    
    .servicebox-p2{
    padding: 0 80px;
    margin-top: -18px;
    }
    
    .separation-line-2{
      margin-top: -64px;
      margin-bottom: 70px;
    }
    
    .tech-stack{
    padding-bottom: 350px;
    }
    
    .tech-stack-p{
    margin-bottom: 43px;
    }
    
    .stack-holder{
      width: 80%;
      margin: 0px auto;
      padding-left: 20px;
    }

}

@media screen and (max-width: 1236px) {
  html,body{
  background-size: 500%;  
  }
}

@media screen and (min-width:802px) and (max-width: 1012px) {
  
  html,body{
    background-size: 500%;
    background-repeat: repeat;
    }
  
  .main{
    margin-top: 103px;
    margin-left: 10%;
    /* height: 1000px; */
    border-radius: 100px 0px 0px 0px;
    background-color: white;
    }
    
    
    .stack-holder{
      width: 80%;
      margin: 0px auto;
      padding-left: 20px;
    }
}

/* Mobile Settings */
@media screen and (min-width: 400px) and (max-width: 802px) {
  .main{
    margin-top: 50px;
    margin-left: 0%;

    border-radius: 100px 0px 0px 0px;
    background-color: white;
    }
    
    .profile{
      padding-top: 80px;
    }

    .profile-img{
    width: 320px;
    height: 320px;
    object-position: 50% 50%;
    }
    
    .profile-h2{
    font-size: 40px;
    }
    

    .separation-line-1{
    margin-top: 100px;
    margin-bottom: 140px;
    }
    
    .servicebox{
    margin-bottom: 200px;
    }
    
    .servicebox-img{
    height: 230px;
    width: 230px;
    }
    
    .servicebox-p1{
    margin-top: 30px;
    }
    
    .servicebox-p2{
    padding: 0 80px;
    margin-top: -18px;
    }
    
    .separation-line-2{
      margin-top: -64px;
      margin-bottom: 70px;
    }
    
    .tech-stack{
    padding-bottom: 200px;
    }
    
    .tech-stack-p{
    margin-bottom: 43px;
    }
    
    .stack-holder{
      width: 70%;
      margin: 0px auto;
    }

  

}

@media screen and (max-width: 460px) {
  
  .profile-h2{
    font-size: 35px;
    padding: 0;
    margin: 0px 10px;
    margin-top: 40px;
    }

    .separation-line-1{
      margin-top: 60px;
      margin-bottom: 90px;
      }

      .servicebox{
        margin-bottom: 150px;
        }

  .servicebox-p2{
    padding: 0 20px;
    margin-top: -18px;
    }
  
  .stack-holder{
    width: 80%;
  }
}


/* Responsive Settings */

@media screen and (max-width: 650px) {

  .body.show{
    background-repeat: no-repeat;
    /* background-size: 100%; */
    background-image: url('aboutme-attachments/sonja-punz-background\ \(blue-edition\).png');
  
    background-blend-mode: color-dodge;
    background-color: rgba(13, 20, 15, 0.795);
    height: 930px;
  }
  
  .main.show{
      visibility: hidden;    
  }
  
  .nav-ul{
  display: none;
  width: 100%;
  flex-direction: column;
  }
  
  .nav-ul.show{
  display: flex;
  /* Position */
  padding-bottom: 200px ;
  padding-top: 50px;
  justify-content: space-between;
  text-align: center;
  }
  
  .nav-li{
    margin: 4px;
  }
  
  .nav-a.show{ 
      font-size: 35px;
      padding: 10px 20px;
      margin: 13px 0;
      text-align: center;
      opacity: 0.6;
  }
  
  .nav-a:hover{
      opacity: 1;
      border-bottom: none;
      box-shadow: none;
  }
  
  #mobileicon{
      opacity: 0.7;
      transition: .3s all; 
  
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  
  #mobileicon:hover{
  opacity: 1;
  transition-duration: 0.5s;
  }
  
  #mobileicon.show{
      transition: .3s all; 
  
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      transform: rotate(135deg);
  
  }
  
  .hamburger{
    display: block;
    }    
  }


/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(255, 255, 255); 
  border-radius: 100px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(179, 176, 176, 0.87); 
  border-radius: 10px;
}
